.section{
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .warp{
    width: 100%;
    text-align: center;
}
.section .warp .text{
    height: 60px;
    overflow: hidden;
}
.section .warp:hover{
    cursor: none;
}
.section .warp span{
    font-size: 35px;
    letter-spacing: 20px;
    color: #fff;
    line-height: 60px;
    transition: transform 1s cubic-bezier(.165,.84,.44,1);
    transform: translateY(100%);
    opacity: 0;
}
.transform_active{
    transform: translateY(0%) !important;
    opacity: 1!important;
}
.cursor {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: opacity .3s, color .4s;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor_warp{
    transition: 0.5s;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scale_active{
    transform: scale(80) !important;
}
body:hover .cursor{
    opacity: 1;
}
.section2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #111;
}